.button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: rgba(127, 127, 127, 0.5) 0 0 1px;
  cursor: pointer;
  font-size: 14px;
  outline: none !important;
  padding: 5px 12px;
  transition: box-shadow 0.25s ease;

  &:not([disabled]):hover {
    box-shadow: rgba(127, 127, 127, 0.5) 0 1px 5px;

    &:active {
      background-color: #f4f4f4;
      box-shadow: rgba(127, 127, 127, 0.6) 0 1px 8px;
    }
  }

  &[disabled] {
    box-shadow: none;
    color: grey;
  }
}
