.button {
  border: none;
  border-radius: 3px;
  box-shadow: rgba(127, 127, 127, 0.7) 0 0 3px;
  cursor: pointer;
  font-size: 16px;
  height: 32px;
  outline: none !important;
  padding: 5px 12px;
  transition: box-shadow 0.25s ease;

  &.default {
    background-color: white;

    &:not([disabled]):hover:active {
      background-color: #f4f4f4;
    }
  }

  &.danger {
    background-color: #f81100;
    color: white;

    &:not([disabled]):hover:active {
      background-color: #dd0f00;
    }
  }

  &:not([disabled]):hover {
    box-shadow: rgba(127, 127, 127, 0.7) 0 1px 5px;

    &:active {
      box-shadow: rgba(127, 127, 127, 0.7) 0 1px 8px;
    }
  }

  &[disabled] {
    color: grey;
  }

  &.small {
    font-size: 14px;
    height: 24px;
  }
}

.button + .button {
  margin-left: 7px;
}

.button-group {
  display: block;
}
