.confirmation-button {
  align-items: center;
  display: inline-flex;

  &.active {
    height: 30px;
    padding: 0 5px;
  }

  .comment {
    display: inline-block;
    margin-right: 5px;
  }
}

.button + .confirmation-button {
  margin-left: 7px;
}

.confirmation-button + .button {
  margin-left: 7px;
}
