.confirmation-button {
  align-items: center;
  display: inline-flex;
  height: 32px;
  padding: 0 5px;

  &.active {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 5px;
  }

  .comment {
    display: inline-block;
    margin-right: 5px;
  }
}

.button + .confirmation-button {
  margin-left: 5px;
}
