.form-group.stretch {
  .react-tabs {
    display: flex;
    flex: 1;
    flex-direction: column;

    .react-tabs__tab-panel--selected {
      display: flex;
      flex: 1;
    }
  }

  .react-tabs__tab-list {
    margin: 0 0 -1px;
  }

  .editor-wrapper {
    flex: 1;
  }
}

.editor-wrapper {
  display: flex;
  flex-direction: column;

  textarea {
    flex: 1;
  }

  .pell-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    .pell-actionbar {
      margin-top: 1px;

      .pell-button {
        min-width: 30px;
        width: auto;
      }
    }

    .pell-content {
      flex: 1;
    }
  }
}
