.form-group {
  display: flex;
  flex-direction: column;
  padding: 5px 0;

  .input-name {
    display: block;
    margin-bottom: 5px;
  }

  &.horizontal {
    flex-direction: row;
  }

  &.inline {
    flex-direction: row;

    .input-name {
      margin-right: 7px;
      position: relative;
      top: 3px;
      white-space: nowrap;
    }
  }

  &.stretch {
    flex: 1;

    &.double {
      flex: 2;
    }
  }
}
