.block-header {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  height: 40px;
  margin: 0;
  padding: 12px;
}

.header {
  align-items: center;
  margin: 0;
  padding: 12px;
}
