body, html, #root, .root-view, .content {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.root-view {
  font-family: Verdana, Arial, Helvetica, sans-serif;

  @import 'global';
}

.content {
  display: flex;

  .left-column {
    flex: 1;
  }

  .right-column {
    border-left: 1px solid black;
    flex: 1;
    overflow-y: auto;
  }
}